html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


.main-info{
  width: 300px;
  color: white;
  background-color: rgb(38, 37, 37);
  border-radius: 9px;
  border: 1px solid rgb(0, 179, 255);
}

.sec-info{
  width: 90%;
  margin:auto;
  padding: 20px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* border: 2px solid rgb(0, 89, 255); */
}

.sec-info img{
width: 100%;
border-radius: 6px;
}
.sec-info h1{
  text-align: center;
  font-size: 1.1em;
  font-weight: 800;
  line-height: 2em;
}
.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1px 2px;
  /* border: 2px solid rgb(179, 255, 0); */
}

.card span{
  min-width:250px;
  color: rgb(212, 213, 214);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  line-height: 2em;
  background-color: rgba(59, 59, 59, 0.671);
  margin:10px 10px;
  border: 1px solid rgb(0, 179, 255);
  border-radius:6px;
}

.card span:hover{
  color: rgb(255, 255, 255);
  /* background-color: rgba(59, 59, 59, 0.671); */
  background-color: rgb(7, 139, 195);
  box-shadow: 0px 3px 5px rgb(0, 179, 255);
  cursor: pointer;
}

.card span h5{
  padding:1px 3px;
  margin: -1px 1px;
}

.card span a{
  text-decoration: none;
  color: rgb(212, 213, 214);
}



